{% macro smallBlogCard(props) %}
<div class="small-blog-card">
    <a href="{{ props.cardLink }}" class="card-link" aria-label="Read more about {{ props.cardTitle }}">
        <div class="blogCard card">
            <img src="{{ props.cardImage | default('/assets/images/journal.webp') }}" class="card-img-top" alt="{{ props.cardImageAlt | default('card image') }}">
            <div class="card-body">
                <h2 class="fs-5 card-title">{{ props.cardTitle }}</h2>
                <p class="card-text">{{ props.cardDescription }}</p>
            </div>
        </div>
    </a>
</div>
{% endmacro %}