---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}
{%- if page.url and page.data.permalink !== false and not page.data.draft and page.url != "/admin/" -%}
<url>
<loc>{{ site.url }}{{ page.url | url }}</loc>
<lastmod>{{ page.date | isoDate }}</lastmod> 
{# Optional: Add changefreq and priority based on content type #}
{# <changefreq>monthly</changefreq> #}
{# <priority>0.8</priority> #}
</url>
{%- endif -%}
{% endfor %}
</urlset>